.fade-in {
    animation: fadeIn 1S;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.topBar1 {
    width: 100%;
    height: 140px;
    /* background-color: rgba(43, 117, 71, 0.102); */
    color: rgba(128, 128, 128, 0.733);
    /* margin-bottom: 20px; */
}

.topBar2 {
    height: 140px;
    /* background-color: rgba(43, 117, 71, 0.102); */
    color: rgba(128, 128, 128, 0.733);
    text-align: center;
    /* margin-bottom: 20px; */
}

.body {
    background-color: rgba(151, 156, 160, 0.082);
}

.arrowicon {

    font-size: 60px;
}

.arrowicon:hover {

    color: rgba(0, 119, 255, 0.295)
}

/* ---------------------------------------------------------------- */

#sidebar {
    position: absolute;
    display: none;
    height: 100%;
    left: -400px;
}

#sidebar.active {
    background-color: rgba(151, 156, 160, 0.082);
    position: absolute;
    display: block;
    height: 2500px;
    left: 0px;
    width: 25%;
}

#sidebar1 {
    position: absolute;
    height: 100%;
    left: 0px;


}


#sidebar1.active1 {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 25%;

}



.box {
    width: 100%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.322);
    margin-bottom: 200px;
    color: white;
}

.box:hover,

.topBar:hover {

    background-color: rgba(23, 39, 110, 0.37);

}

.header {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.52);
}



.headerBox1 {
    position: relative;
    float: left;
    height: 80px;
    color: white;
}

.headerBox2 {
    position: relative;
    float: right;
    height: 80px;
    color: white;


}

.leftdiv {
    border: 1px solid gray;
    height: 500px;
}