.M{
height: 200px;
}

.mycard{
float: left;
position: relative;
height: 450px; 
margin-top: 50px;
border-radius: 2px;
margin-bottom: 100px;
}

.Header{
text-align:center;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
}

h1{
font-weight: bold;
}

.myIconA{
color:rgb(148, 148, 250);
}
.myIconA:hover{
color: rgba(9, 177, 255, 0.623);   
}
bold{
color: red;
}
.mycard3{
background-color: none;
box-shadow: .8px .9px 3px black; 
transition:  box-shadow .5s ease-out;
margin-bottom: 200px;

}
.mycard3:hover{ 
box-shadow: 20px 20px 50px black;
transition:  box-shadow .4s ease-in;
}


.container {
position: relative;
/* width: 100%; */
/* max-width: 400px; */
}

/* Make the image to responsive */
.image {
width: 100%;
height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .3s ease;
/* background-color: rgba(27, 16, 190, 0.972) */
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
color: rgb(17, 0, 255);
font-size: 100px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
color: rgba(9, 177, 255, 0.623);
}