.zoom {
  zoom: 80%;
}
.small_zoom{
   zoom:80%
}

.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.topBar1 {
    /* width: 98%; */
    height: 100px;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    /* margin-bottom: 20px; */
}

.topBar2 {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    text-align: center;
    /* margin-bottom: 20px; */
}

html,body{
background-image: url("https://img.wallpapersafari.com/desktop/1600/900/29/49/XCzAPl.jpg");
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
width: 100%;
/* background-size: cover; */
background-repeat: no-repeat;
background-size: cover;
height: 102vh;
font-family:Verdana, Geneva, Tahoma, sans-serif}


.container{
height: 70%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #76b900;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header,h3,h4{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #76b900;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #76b900;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

h2,h3,h4,h5,h6 {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nvidia_green{
    background-color: #639b03;
    color:white;
}

.nvidia_green:hover{
    background-color: #86d302;
    color:white;
}