<div class="body fade-in">
  <div class="row ">
    <div class="topBar col-10 mb-5 pt-4 pl-5">
      <div>
        <h3>Buy Online</h3>
        <h6>Your best Online Store for all you need</h6>
      </div>
    </div>
    <div class="col-2 topBar2 pt-3 pl-5">
      <h4>Hi!</h4>
      <h6>logged as : {{UserName}}</h6>
      <button class="btn btn-outline-info" routerLink="">Log-Out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="box col-6">
      <div class="box1">
        <h1>! הזמנתך בוצעה בהצלחה</h1>
        <h2> Buy Online תודה שקנית</h2>
        <button class=" col-4 btn btn-info mt-3" (click)="backtoLogin4()">חזרה לחנות</button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>