<div class="body fade-in">
  <!-- ============================================== top bar =========================================================== -->
  <div class="row pb-5">
    <div class="topBar pt-3 pl-5">
      <div>
        <h3>Buy Online</h3>
        <h6>Your best Online Store for all you need</h6>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row pt-5">
      <!-- ======================================== Left Login BOX =========================================================== -->
      <div class="col-12 col-sm-4">
        <div class="header">
          <div class="headerBox1 p-3">
            <h2>LOGIN</h2>
          </div>
          <div class="headerBox2 pr-3">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div class="box">
          <div class="offset-1 col-10 pt-4">
            <div class="form-group">
              <label for="exampleInputEmail1">User name</label>
              <input type="email" class="form-control col-12" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Username" [(ngModel)]="Info.username" name="usersName">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control col-12" id="exampleInputPassword1" placeholder="Enter Password"
                [(ngModel)]="Info.password" name="passwords">
            </div>
            <button type="submit" class="btn btn-info col-12 mb-1 mt-2" (click)="CheckLogin()">כניסה</button>
            <div>
              <p> ? לא רשום</p>
            </div>
            <div>
              <button type="submit" class="btn btn-info col-12" routerLink="RegesterComponent">הירשם כאן</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ================================================= middle box with image ============================================== -->
      <div class="col-12 col-sm-4">
        <div class="offset-1 col-10">
          <div class="header1 pt-2">
            <h4>ברוך הבא</h4>
            <h4>Buy Online</h4>
          </div>
          <div class="box1">
            <img class="smallimage pt-3 pl-4"
              src="https://www.haber3.com/files/2018/11/11/4966453/alisveris-cilginligi-devam-ediyor-85-saniyede-rekorunu-kirdi-kjV.jpg?v=aa1541934333"
              alt="Smiley face">
            <img />
          </div>
        </div>
      </div>
      <!-- ============================================== rigth box total products/order ============================================== -->

      <div class="col-12 col-sm-4">
        <div class="header2 pt-3">
          <h4>כמות מוצרים באתר</h4>
          <h3>{{Totalproducts.length + 1}}</h3>
        </div>
        <div class="box2">
          <div class="offset-1 col-10 pt-4">
            <h3 class="mb-3" style="text-align: center">מס הזמנות כולל באתר</h3>
            <h1 style="text-align: center">{{Totalorders.length}}</h1>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>