.productcard {

    border: 1px solid rgba(128, 128, 128, 0.185);
}


.mycard3 {
    background-color: none;
    box-shadow: .5px .10px 5px rgb(85, 79, 79);
    transition: .5s ease-out;
    margin-bottom: 50px;
    height: 430px;
    border-radius: 7px;


}

.mycard3:hover {
    box-shadow: 5px 5px 5px rgb(85, 79, 79);
    transition: .2s ease-in;
}



.tag {
    float: left;
    position: absolute;
    /* left: 0px;
    top: 2px; */
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;

}